.tabuleiro {
	background-image: linear-gradient(to bottom, #00c7bd, #ac7dd1);
	border-radius: .6rem;
	position: relative;
	padding: 1rem;
}

.card-game {
	padding: 1rem;
	position: relative;
}

.up-side {
	background: #2a3d4a;
    opacity: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.down-side {
	background: red;
    opacity: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hide {
	opacity: 0;
	z-index: 0 !important;
	transform: rotateY(180deg);
}

.show {
	opacity: 1;
	z-index: 1 !important;
}

